################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoProjectWebApi/.vs/DemoProjectWebApi
/DemoProjectWebApi/DemoProjectWebApi/bin/Debug/netcoreapp3.1
/DemoProjectWebApi/DemoProjectWebApi/obj
